<span class="action">Commented on a <a href="{{payload.comment.html_url}}">pull request</a> to <a href="{{repoUrl repo.name}}">{{repo.name}}</a></span>
<span class="comment">{{payload.comment.body}}</span>