#gh-ticker ul
{
    list-style: none;
    padding: 0;
    height: 4.2em;
}

#gh-ticker ul, #gh-ticker li
{
    overflow: hidden;
}

#gh-ticker li
{
    height: 3.2em;
    margin: 0.5em;
    position: relative;
}

#gh-ticker li .dateline
{
    font-size: 75%;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
}

#gh-ticker .comment
{
    font-size: 75%;
}

#gh-ticker .action, #gh-ticker .comment
{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}